@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Edu+TAS+Beginner:wght@400;500;600;700&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Slab:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,700;0,900;1,100;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
div,
span {
    font-family: Roboto, sans-serif !important;
    color: #3d2514;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1320px;
    margin: 0px auto;
    width: 100%;
}

.container1 {
    max-width: 1420px;
    margin: 0px auto;
    width: 100%;
}


.img {
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.has-two-col {
    display: flex;
    justify-content: space-between;
}



/* Header */

/* header {
    height: 100vh;
    color: #3d2514;
    background-image: url(./img/bg-Rectangle.png);
} */

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 0;

}

.title a img:hover {
    color: #ffffff;
}

.t-number {
    margin-top: 5px;
    font-weight: bold;
}

.logo-number {
    display: flex;
}

.img-number {
    padding-right: 10px;
}

#menu {
    float: right;
}

#menu li {
    font-weight: bold;
    text-transform: uppercase;
}

#menu li a {
    display: inline-block;
    font-size: 18px;
    color: #3d2514;
    padding: 5px 16px 10px;
    z-index: 1000;

}

.style-contact {
    padding-right: 5px;
}

#menu a:hover {
    color: #ffffff;
}


.content {
    background-image: url(./img/bg-Rectangle.png);
    height: 100vh;
    /* width: 200%; */
    overflow: hidden;
    padding: 8em 0 4em;
    position: relative;
    opacity: 1;
    transform: translateY(0px);
}

.content-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    text-transform: uppercase;
    padding: 0 30px;
}

.img-content {
    /* box-shadow: 1px 2px 4px #ffe1a5; */
    padding: 100px 0;

}

.img-h-hum {
    background-image: url(./img/h-hum.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 700px;
    height: 600px;
}

.txt-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt-1 {
    display: inherit;
}

.txt-1 h3 {
    border: 3px dashed #3d2514;
    font-size: 15px;
    padding: 10px 20px;
    font-weight: 100;
}

.txt-header h1 {
    font-size: 125px;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    text-shadow: 3px 3px 0px #f0e8e0;
    font-weight: 900;
}

.txt-header h2,
.txt-main h2 {
    font-size: 56.49px;
    text-shadow: 2px 2px 0px #f0e8e0;
    text-transform: uppercase;
}

.circle {
    background: #bf2222;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    position: relative;
    margin-top: -180px;
}

.circle-dashed {
    border-radius: 50%;
    border: 4px dashed #f0e8e0;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 11px;
    left: 11px;
}

.c-number {
    font-size: 37.96px;
}

.c-only {
    padding-top: 12px;
    line-height: 6px;
    font-size: 37.96px;
    font-weight: lighter;
}

.c-only-txt {
    padding-top: 10px;
}

/* Main */
main {
    margin: 78px 0px 10px;
}

.post1 {
    width: 100%;
    max-width: 1150px;
    margin: 0px auto;
    border-radius: 3px;
    padding: 15px;
}

.content-post1 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 45px;

}

.c-post1 {
    gap: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

}

.img-post1 {
    background-image: url(./img/Burger\ Image1.png);
    height: 420px;
    border-radius: 5px;
    background-repeat: no-repeat;
    display: block;
    margin: 0px auto;
    width: 100%;
}

.img2-post1 {
    height: 195px;
    background-image: url(./img/Image.png);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.img3-post1 {
    height: 195px;
    background-image: url(./img/Image1.png);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
}

.img-post1,
.img2-post1,
.img3-post1 {
    font-size: 28px;
    color: #ffffff;
    text-transform: uppercase;

}

.post1 .p {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 15px;
    color: #ffffff;
}

.post1 a p {
    padding-left: 15px;
    color: #ffffff;
}

.post1 a:hover {
    box-shadow: 20px 15px 25px rgb(0 0 0 / 50%);
    color: #3d2514;
}


.b-click {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px 0 40px;
}

.b-click a {
    padding: 15px 20px;
    background: #ffc045;
    color: #3d2514;
    text-align: center;
    border: 3px solid #ffc045;
    text-transform: uppercase;
    font-weight: bold;
}

.b-click a:hover {
    background: #ffffff;
    border-radius: 5px;
}

.txt-main {
    text-align: center;
    padding: 0px 30px;
}

.txt-main p {
    font-weight: lighter;
    margin: 35px auto;
    max-width: 1000px;
    width: 100%;
}

.choose {
    display: flex;
}

.hum {
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* .hum1 {
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

} */


.img-hum1 {
    width: 400px;
    height: 250px;
    background-image: url(./img/Ihum-img.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.img-hum2 {
    width: 270px;
    height: 270px;
    background-image: url(./img/Ihum\ copy.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1.1, 1.1);
}

.txt-hum {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0 30px;
}

.txt-hum a:hover {
    background: #ffc045;
    color: #3d2514;
    border: 1px solid #ffc045;
    border-radius: 3px;
}


.txt-hum h3 {
    font-size: 24px;
    padding: 10px 0;
}

.txt-hum p {
    font-size: 16.67px;
    padding: 10px 0 40px;
}

.txt-hum a {
    font-size: 16.67px;
    padding: 15px 30px;
    background: #bf2222;
    color: #ffffff;
    text-align: center;
    border: 1px solid #bf2222;
    text-transform: uppercase;
    font-weight: bold;
}

/* Slide */
.slider {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 15px;
    box-shadow: 20px 15px 20px 0px #d9d9d9;
    max-width: 1320px;
    height: 500px;
    margin: 30px auto;
    width: 100%;
    overflow: hidden;
}

.title-slide {
    display: flex;
    flex-direction: column;
    padding: 50px 20px 50px 50px;
}

.title-slide p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.img-slide {
    padding: 20px 20px 20px 0;
}

.img-slide img {
    width: 595px;
    height: 445px;
    background-size: cover;
}



.img-slide {

    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 600%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.st {
    width: 20%;
    transform: 2s;
}


.nav-m {
    position: absolute;
    display: flex;
    margin-top: 400px;
}

.m-btn {
    background-color: #dcdcdc;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
}

.m-btn:not(:last-child) {
    margin-right: 40px;
}

.m-btn:hover {
    background-color: #ffc045;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}


.nav-auto {

    position: absolute;
    margin-top: 430px;
    display: flex;
    left: 408px;
    opacity: 1;

}

.nav-auto div {
    padding: 10px;
    border-radius: 10px;
    transition: 2s;

}

.nav-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.nav-auto .a-b1 {
    background-color: #ffc045;
}

#radio2:checked~.nav-auto .a-b2 {
    background-color: #ffc045;
}

#radio3:checked~.nav-auto .a-b3 {
    background-color: #ffc045;
}

/* the end slide */

.form-container {
    max-width: 1440px;
    margin: 0px auto;
    width: 100%;
    background: #ffffff;
    overflow: hidden;
    padding: 2em 0 0;
    position: relative;
    opacity: 1;
    transform: translateY(0px);

}

.form {
    max-width: 820px;
    margin: 0px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h4 {
    text-transform: uppercase;
}

.form h2 {
    margin-top: 20px;
    font-size: 50px;
    text-transform: uppercase;
}

.f-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 25px;
    margin: 90px;
}

.form input {
    width: 375px;
    height: 65px;
    border-radius: 7px;
    border: 2px solid #bebebe;
    padding-left: 20px;
}

::placeholder {
    color: #3d3d3d;
}

input[type="date"]::before {
    content: attr(placeholder);
    width: 100%;
}

input[type="date"]:focus::before {
    display: none
}

input[type="time"]::before {
    content: attr(placeholder);
    width: 100%;
}

input[type="time"]:focus::before {
    display: none
}

.btn-find {
    background: #bf2222;
    border: none;
    color: #ffffff;
    border-radius: 7px;
    text-align: center;
    font-size: 20.83px;
    font-family: Roboto, sans-serif;
}

.f-input button:hover {
    background: #ffc045;
    color: #3d2514;

}

.img-humber {
    margin-bottom: -150px;
    width: 210px;
    height: 210px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./img/fo.png);
    display: inline-block;
    position: relative;
    z-index: -1000;
}

.img-bottle {
    width: 73px;
    height: 355px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(./img/fo2.png);
    display: inline-block;
    margin-top: -400px;
    margin-left: 190px;
    position: relative;
    z-index: -1000;
}

.img-dia {
    float: right;
    margin-top: -317px;
    margin-right: -145px;
    width: 400px;
    height: 400px;
    background-image: url(./img/fo3.png);
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1000;
}


/* Footer */
footer {
    margin-bottom: 65px;
    color: #ffffff;
    padding: 0 25px;
    overflow: hidden;
}

.footer {
    max-width: 1320px;
    margin: 0px auto;
    width: 100%;
    padding: 60px;
    /* height: 530px; */
    background-size: cover;
    background-image: url(./img/Place\ Your\ Design\ Here\ \(Double\ Click\ to\ Edit\).png);
}

.img-logo-ft {
    margin-bottom: 45px;
    width: 410px;
    height: 90px;
    background-image: url(./img/Place\ Your\ Logo\ Here\ \(Double\ Click\ to\ Edit\)1.png);
}

.txt-ft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 150px; */
}



.txt-add {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 100px;
    color: #ffffff;
}

.add,
.gmail {
    display: flex;
    align-items: center;
}

.white {
    color: #ffffff;

    font-size: 16.67px;
}

.white1 {
    color: #ffffff;
}

.img-add {
    background-image: url(./img/Location\ Icon.png);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 35px;
}

.img-gmail {
    background-image: url(./img//Email.png);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 35px;

}


.f-footer {
    display: flex;
    margin-top: 130px;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}



.social {
    display: flex;
    margin-right: -30px;
}

.social a {
    padding: 0 10px;
}

.logo-f {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}

.logo-ins {
    background-image: url(./img/Instagram.png);
}

.logo-face {
    background-image: url(./img/Facebook.png);

}

.logo-whatapp {
    background-image: url(./img/WhatsApp.png);
}

.logo-twi {
    background-image: url(./img/Twitter.png);
}


/* Cuá»™n menu */

.menu-container {
    margin: 0 auto;
    width: 100%;
    z-index: 99;
    position: fixed;
    background-image: url(./img/bg-Rectangle.png);

}

.menu-nav {
    width: 100%;
    position: relative;

}

.nav {
    flex-direction: column;
}

.nav .banner {
    height: 5rem;
    padding: 10px;
    z-index: 1000;
    width: 100%;
    /* max-width: 1400px; */
    margin: 0px auto;
}

@media screen and (max-width: 1100px) {
    .hum {
        width: 450px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .img-hum1 {
        width: 310px;
        height: 250px;
        background-image: url(./img/Ihum-img.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .img-hum2 {
        width: 280px;
        height: 270px;
        background-image: url(./img/Ihum\ copy.png);
        background-repeat: no-repeat;
        background-size: contain;
        transform: scale(1.1, 1.1);
    }

    .img-humber,
    .img-bottle,
    .img-dia {
        display: none;
    }

    .hum2 {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    #menu {
        max-width: 800px;
        margin: 0px auto;
        width: 100%;
        float: none;
    }

    .choose {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .circle {
        margin-left: 30px;
        width: 150px;
        height: 150px;
        position: relative;
        margin-top: -175px;
    }

    .circle-dashed {
        width: 125px;
        height: 125px;
        top: 12px;
        left: 12px;
    }

    .c-number {
        font-size: 30px;
    }

    .c-only {
        font-size: 25px;
        font-weight: lighter;
    }

    .title {
        display: flex;
        justify-content: space-around;
    }

    .hum1,
    .hum3,
    .logo-number {
        display: none;
    }

    h1 {
        font-size: 4rem !important;
    }

    .img-content {
        padding: 0;
    }

    .f-input {
        display: flex;
        gap: 25px;
        margin: 90px auto;
        flex-direction: column;
    }

    .btn-find {
        background: #bf2222;
        height: 65px;
        border-radius: 7px;
    }

    .content-header {
        display: flex;
        flex-direction: column;
        padding: 100px 40px 30px;
    }

    .img-content img {
        width: 400px;
        height: 340px;
        float: right;
    }

    .content-post1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .content {
        background-image: url(./img/bg-Rectangle.png);
        height: 100vh;
        overflow: hidden;
        padding: 5em 0 4em;
        position: relative;
        opacity: 1;
        transform: translateY(0px);
    }

    .txt-ft {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding-top: 12px;
    }

    .txt-add {
        padding: 30px;
    }

    .img-post1 {
        width: 82%;
    }

    .f-footer {
        margin-top: 10px;
        display: flex;
        color: #ffffff;
        flex-direction: column-reverse;
        align-items: center;
    }

    .slider {
        height: 800px;
        margin: 30px auto 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .nav-m {
        margin-top: 210px;
    }

    .img-slide img {
        width: 660px;
        height: 445px;
        background-size: cover;
    }

}

@media screen and (max-width: 320px) {

    .container-post1 {
        display: flex;
        flex-direction: column-reverse;
    }

    #menu li a {
        display: inline-block;
        font-size: 12px;
    }

    .title-slide {
        padding: 50px 10px 20px;
    }

    .nav-m {
        margin-top: 330px;
    }

    .form input {
        width: 250px;
        margin: 0px auto;
    }

}